
.hero {
    background: url('/assets/images/cattracks2.jpg') center/cover no-repeat;
    color: var(--light-text-color);
    text-align: center;
    padding: 50px 20px;
    position: relative;
}
  
.hero-content {
    background-color: var(--fourth-color-opaque); 

    display: inline-block;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
}



.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.button:hover {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
}


.info {
    color: var(--dark-text-color);
    font-family: 'Playfair Display', serif;
    padding: 50px;
    text-align: center;
    background-color: var(--background-color);
    background: linear-gradient(to bottom, var(--fade-second-color), var(--fade-first-color));
}

.section-title {
    font-size: 2em;
    margin: 20px 0;
    position: relative;
    display: inline-block;
    color: var(--event-secondary-color); 
}

.decorative-line {
    width: 60px;
    height: 3px;
    background-color: var(--event-secondary-color);
    margin: 10px auto;
    border-radius: 2px;
}

.event-details {
    margin-top: 30px;
    font-size: 1.1em;
    line-height: 1.6;
}

.event-details p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-details i {
    color: #e67e22;
    margin-right: 10px;
    min-width: 20px;
    text-align: center;
}

.event-details strong {
    margin-right: 5px;
    color: var(--event-secondary-color);;
}

a {
    color: var(--link-color); 
    text-decoration: none; 
    transition: color 0.3s, text-decoration 0.3s;
}

a:hover {
    color: var(--hover-color); 
    text-decoration: underline; 
}

@media (max-width: 600px) {
    .event-details {
        font-size: 1em;
    }
    
    .event-details p {
        flex-direction: column;
        align-items: center;
    }
    
    .event-details i {
        margin-bottom: 5px;
    }
}


.main-content {
    padding-bottom: 60px;
}

.mononoaware {
    background: url('/assets/images/7426164_orig.jpg') center/cover no-repeat;
    color: var(--light-text-color);
    text-align: center;
    padding: 50px 20px;
    position: relative;
}
  
.mono-content {
    background-color: var(--fourth-color-opaque);
    display: inline-block;
    padding: 40px;
    border-radius: 10px;
    z-index: 1;
}


.mono h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.mono p {
    font-size: 1.2em;
    margin-bottom: 20px;
}


.image-credit {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    padding: 5px 10px; 
    font-size: 0.8em; 
    z-index: 1;
}
  
.image-credit a {
    text-decoration: underline; 
}
  
.image-credit a:hover {
    text-decoration: none; 
}

.commemoration {
    color: var(--commem-text-color) !important;
    background-color: var(--second-color); 
    background: linear-gradient(to bottom, #f4b67cd1, #f6d5424b);
}

img {
    max-width: 80%;
    max-height: 500px;
    width: auto;
    height: auto;
}

.galada {
    font-family: "Galada", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px !important;
  }

.event-link {
    color: var(--event-link-color);
}

.event-link:hover {
    color: var(--event-link-secondary-color);
}