<section class="hero">
    <div class="hero-content">
      <h1>Louie Bowl: Canvas & Cues</h1>
      <p>The Louie Bowl combines a thrilling Scotch Doubles Billiards tournament with a vibrant Art Auction to support our community. Held at Trick Shots Waterford Lakes, the tournament will feature over 13 billiards tables. Entry fee is $30 per person and $5 per entry goes towards the donation fund. The first-place team will win a $500 cash prize and the coveted Louie Bowl Trophy!</p>
      <p>Local artists are invited to submit their work inspired by this year’s theme, <a href="https://en.wikipedia.org/wiki/Mono_no_aware">"Mono-NO-Aware"</a> to the Louie Bowl Art Competition. Online voting will begin on February 12th, 2025, and the top 10 pieces will be auctioned during the event. All proceeds will benefit vulnerable and disabled citizens, helping to uplift our entire community. The first-place artist will receive a $300 cash prize and a Louie Bowl Trophy!</p>
      <p>Come for the competition, stay for the art, and help make a difference!</p>
      <a routerLink="/register" class="button">Register For The Tournament</a>
      <a routerLink="/submit-art" class="button">Submit Your Artwork</a>
    </div>
  </section>
<section class="info">
  <div class="decorative-line"></div>
  <h2 class="section-title">Event Details</h2>
  <div class="decorative-line"></div>
  <p><strong>Date</strong></p>
  <p>February 22</p>
  <p><strong>Time</strong></p>
  <p>11:00 AM</p>
  <p><strong>Location</strong></p>
  <p>Trick Shots - Waterford Lakes</p>
  <p><strong>Address</strong></p>
  <p>11351 Lake Underhill Rd, Orlando, FL 32825</p>
  <div class="decorative-line"></div>
</section>



