<section class="hero">
    <div class="hero-content">
      <h1 class="galada">Louie Bowl:<br><i>Canvas & Cues</i></h1>
      <p>The Louie Bowl combines a thrilling Scotch doubles billiards tournament with a vibrant art competition to support our community. The entry fee for the Billiards tournament is $30 per person and $5 per entry goes toward the donation fund. The first-place team will win a $500 cash prize and the coveted Louie Bowl Trophy!</p>
      <p>Local artists are invited to submit their work inspired by this year’s theme, <a href=#mono>"Mono-no-aware"</a>. Artists will be invited to showcase their work in our VIP area.
        The first-place winner will take home $300 cash prize and the Louie Bowl Trophy! All donated pieces will
        be raffled off during the event and all processed will benefit vulnerable and disabled citizens, helping to
        uplift our entire community!</p>
      <!--
      <p>This is a family friendly event! Click <a routerLink="/details">here</a> for a list of vendors and drink specials!</p>
      -->
      <p>The Louie Bowl is held to honor the life and legacy of <a href=#commemoration>Luis Gonzalez</a>.</p>
      <a routerLink="/register" class="button">Register For The Tournament</a>
      <a routerLink="/submit-art" class="button">Submit Your Artwork</a>
    </div>
    <div class="image-credit">
        <a href="https://www.drseussart.com/secretandarchive/cat-from-wrong-side-of-tracks" target="_blank" rel="noopener noreferrer"><i>Cat from the Wrong Side of the Tracks</i> - Dr. Seuss</a>
    </div>
</section>
<section class="info">
    <div class="decorative-line"></div>
    <h2 class="section-title">Event Details</h2>
    <div class="decorative-line"></div>
    
    <div class="event-details">
      <p><strong>Date:</strong></p>
      <p>February 22, 2025</p>
      <p><strong>Time:</strong></p>
      <p>Doors open at 11:00am</p>
      <p>Billiard Tournament starts at 11:30am</p>
      <p><strong>Location:</strong></p>
      <p>Trick Shots - Waterford Lakes</p>
      <p><strong>Address:</strong></p>
      <p>
        <a href="https://maps.app.goo.gl/YC4R6TfnewCWW9uf9" target="_blank" rel="noopener noreferrer" class="event-link">
            11351 Lake Underhill Rd, Orlando, FL 32825
        </a>
      </p>
    </div>
</section>
  
<section class="mononoaware" id="mono">
    <div class="mono-content">
      <h1>Art Theme: Mono-no-aware</h1>
      <h4><i>"The Pathos of Things"</i></h4>
      <p>This years theme is "Mono no aware", a Japanese idiom for the awareness of impermanence, or transience of
        things. The artist should reflect on the greater concept of life and may express through their work the
        beauty, sadness, or greater emotions that arise from this reflection. Submissions can be in any style of
        your choosing.</p>
    </div>
    <div class="image-credit">
        Image by: <a href="https://www.commarts.com/fresh/carlos-tarrats" target="_blank" rel="noopener noreferrer">Carlos Tarrats</a>
    </div>
</section>
<section class="info commemoration" id="commemoration">
  <div class="commemoration-content">
    <h2 class="section-title commemoration">Commemoration</h2>
    <img src="assets/images/weird_lady.jpeg">

    <h2>In Loving Memory of Luis Gabriel Gonzalez</h2>
    <p>Luis Gabriel Gonzalez, a beloved individual whose kindness, dedication, and compassion touched
      countless lives. Luis was known for his intense love of life and his deep care for others. His passion for
      living fully and his genuine compassion made a lasting impact on everyone he encountered. As we
      remember him today, his memory serves as a pillar of hope, a reminder that even in the face of
      adversity, we can strive for a better future and offer support to those in need. His example encourages
      us to live with empathy, to uplift one another, and to work together toward a brighter tomorrow.</p>
  </div>

</section>



